@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img id="Image1" src="~/Images/logo2.png" alt="logo" />
    <h2>MyTunes is a premium music library</h2>
    <p class="lead">
        We're all about music. You can listen to
        any of our songs today. Each song listing has detailed
        information to help you choose the right one for your mood.
    </p>
</div>
